<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TRACNGHIEMBYWINFORM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TRACNGHIEMBYWINFORM.Properties.Settings.quizConnectionString"
            connectionString="Data Source=LAPTOP-7NE4I22T;Initial Catalog=quiz;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TRACNGHIEMBYWINFORM.Properties.Settings>
            <setting name="chude" serializeAs="String">
                <value>cboChuDe</value>
            </setting>
        </TRACNGHIEMBYWINFORM.Properties.Settings>
    </userSettings>
</configuration>